[submodule "deps/cosmos-sdk"]
	path = deps/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "deps/wasmd"]
	path = deps/wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "deps/classic"]
	path = deps/classic
	url = https://github.com/mint-cash/mintcash.git
[submodule "deps/cometbft"]
	path = deps/cometbft
	url = https://github.com/cometbft/cometbft.git
