[submodule "deps/cosmos-sdk"]
	path = deps/cosmos-sdk
	url = https://github.com/classic-terra/cosmos-sdk.git
[submodule "deps/wasmd"]
	path = deps/wasmd
	url = https://github.com/classic-terra/wasmd.git
[submodule "deps/classic"]
	path = deps/classic
	url = https://github.com/classic-terra/core.git
[submodule "deps/cometbft"]
	path = deps/cometbft
	url = https://github.com/classic-terra/cometbft.git
